{
  :general {
    :port 443
    :keystore "keystore.jks"  ; ISSUE ME
    :key-password "pass"      ; FIXME
    :crashrpts-dir "."
  }
  :email {
    :smtp "smtp.email.com" ; FIXME
    :from "from@email.com" ; FIXME
    :pass "password"       ; FIXME 
    :to   "to@email.com"   ; FIXME
  }
}
